<form id="dot-sign-up" method="post" action="/contact#dot-sign-up"> <div class="o-alert--danger error" style="display: none"></div> <input type="hidden" name="data[hp]" value="">
    <input name="data[name]" placeholder="NAME" id="dot-signup-name" class="block p1 my3" value="">
    <input name="data[email]" placeholder="EMAIL ADDRESS" id="dot-signup-email" class="block p1 my3" value="">
    <textarea name="data[message]" placeholder="MESSAGE" class="block p1 my3" id="contact-message" rows="1"></textarea> <div class="o-input--centerer"> <input name="data[opt-in]" type="checkbox" id="opt-in"><label for="opt-in">If you wish to sign up to our mailing list please tick the box</label>
    </div> <div class="center mt3"> <button class="btn" type="submit">Submit</button> </div>
</form>