</div>

<footer class="l-theme3 mt4">

  <div class="container">
    <div class="clearfix py4">
      <div class="sm-col sm-col-4 contact-details px2 pr3 pl3">
        <h3 class="t3">DOT</h3>
        <address class="mb1">
          {{ range .Site.Params.address }}
          {{ . }}<br/>
          {{ end }}
        </address>

        <p class="mb1">
          <a href="tel:{{ replace $.Site.Params.tel " " "" }}">{{ $.Site.Params.tel }}</a>
        </p>

        <p class="mb0">
          <a href="mailto:{{ $.Site.Params.email }}">{{ $.Site.Params.email }}</a>
        </p>

        {{ partial "social" . }}

      </div>
      <div class="sm-col sm-col-8 px2 pl3 xs-hide">
        <h3 class="t3 mt0 mb1">Latest Blog</h3>
        {{ range where (where .Page.Site.Pages.ByDate "Section" "blog") ".Params.collection" "==" "single" | last 1 }}

        <h4 class="pb1">{{ .Title }}</h4>

        {{ if and (isset .Params "excerpt") (ne .Params.excerpt "") }}
        <p class="m0 pb1 excerpt">
          {{ .Params.excerpt }}
        </p>
        {{ else }}
        <p class="m0 pb1 excerpt">
          {{ .Summary | truncate 300 }}
        </p>
        {{ end }}

        <a href="{{ .Permalink }}" class="btn--tertiary mt2">Read more</a>
        {{ end }}
      </div>
    </div>
  </div>

</footer>

</div>

<script src="{{ index .Site.Data.manifest "app.js" }}"></script>

</body>
</html>