<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <base href="{{ $.Site.BaseURL }}">

  <title>{{ if isset .Params "meta_description" }}{{ .Params.meta_description }}{{ else }}{{ index .Site.Data.settings "global_meta_description" }}{{ end }}</title>
  <meta name="description" content="{{ if isset .Params "meta_description" }}{{ .Params.meta_description }}{{ else }}{{ index .Site.Data.settings "global_meta_description" }}{{ end }}">
  <meta name="keywords" content="{{ index .Site.Data.settings "global_meta_keywords" }}">

  <link rel="shortcut icon" href="img/dot-favicon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="img/dot-appletouch.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/dot-appletouch.png" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
  <meta name="google-site-verification" content="HH_8RH6fr-znVJsXHb6YI-hczZKMKFFIY2uZj75OkcE" />

  {{ if eq .Section "blog"  }}
  {{ if eq .Params.collection "single"  }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@DotPrestonLancs" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ if and (isset .Params "excerpt") (ne .Params.excerpt "") }}{{ .Params.excerpt }}{{ else }}{{ .Summary | truncate 300 }}{{ end }}" />
  {{ if isset .Params "cover_image" }}
  <meta name="twitter:image" content="{{ .Site.Params.domain }}{{ .Params.cover_image }}" />
  {{ end }}

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ .Site.Params.domain }}{{ .Permalink }}" />
  {{ if isset .Params "cover_image" }}
  <meta property="og:image" content="{{ .Site.Params.domain }}{{ .Params.cover_image }}" />
  {{ end }}
  <meta property="og:description" content="{{ if and (isset .Params "excerpt") (ne .Params.excerpt "") }}{{ .Params.excerpt }}{{ else }}{{ .Summary | truncate 300 }}{{ end }}" />
  <meta property="og:site_name" content="DOT Preston" />
  {{ end }}
  {{ end }}

  <!--[if lt IE 9]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <link rel="stylesheet" href="{{ index .Site.Data.manifest "app.css" }}"/>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102566888-1', 'auto');
      ga('send', 'pageview');

  </script>

</head>

<body class="l-body">

<nav class="c-nav jsMenu" role="navigation">
  <span class="c-nav__close jsMenuClose">
    <img src="https://dotpreston.co.uk/assets/images/nav_close_icon.svg" class="u-grow">
  </span>

  <ul class="c-nav__links t2 list-reset">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="c-nav__link{{ if $currentPage.IsMenuCurrent "main" . }} is-active{{ end }}">
      <a href="{{.URL}}"> {{ .Name }} </a>
    </li>
    {{end}}
    <li>
      {{ partial "social" . }}
    </li>
  </ul>
</nav>

<div class="site-wrap">

  <header class="c-fixed-header{{if not .IsHome}} active{{end}}">
    <div class="container">
      <div class="clearfix">
        <div class="col col-3">
          <a href="/"><img src="img/DOT_logo_RGB.svg" class="u-grow right pr3" /></a>
        </div>
        <div class="col col-9">
          <div class="c-fixed-header__title">
            {{ if and (isset .Params "collection") (eq .Params.collection "single") }}
            <h2 class="t3 pl3">{{ if eq .Section "blog"  }}Blog{{ else }}Projects{{ end }}</h2>
            {{ else }}
            <h1 class="t3 pl3">{{ .Title }}</h1>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </header>

  <span class="hamburger-menu jsMenuOpen"><img src="/img/nav_menu_icon.svg" class="u-grow" /></span>

  <div id="main" role="main">