<div class="container c-showcase">
    <div class="clearfix md-flex mb4 mx2 pb1">
        <div class="c-showcase__info md-col md-col-3 self-end right-align">
            <h3 class="mx1 mb1"><a href="">{{ .Title }}</a></h3>
            <p class="m0 mx1">{{ .Description }}</p>
        </div>
        <div class="md-col md-col-9">
            <ul class="c-showcase__gallery jsProject list-reset mb0 mt2">
                {{ $project := . }}
                {{ range .Params.images }}
                <li class="mx1">
                    <a href="{{ $project.Permalink }}">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ .url }}" class="jsSiemaImage b-lazy fit o-img--rounded" alt="{{ .name }}" />
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>