{{ partial "header" . }}
<div class="container about">
    <div class="clearfix py3">
        <div class="col-9 mx-auto">
            <section class="title center my4">
                <p class="o-title">{{ .Params.strapline }}</p>
                <p>{{ .Params.intro }}</p>
                <hr>
            </section>
            <div class="center mb4">
                <img src="https://dotpreston.co.uk/thumbs/about/windle-150x150.jpg" class="circle" alt="AndY Windle">
            </div>

            {{ .Content }}

            <div class="center experience">
                <h3 class="mb4">Experience</h3>
                <ul class="list-reset">
                    {{ range .Params.experience }}
                    <li class="mb3">
                        <span class="mb2 block">
                            <strong>{{ .what }}</strong> at {{ .where }}
                        </span>
                        <span class="o-date block">{{ .when }}</span>
                    </li>
                    {{ end }}
                </ul>
            </div>

            <hr/>

            {{ partial "skills" . }}

        </div>
    </div>
</div>
{{ partial "footer" . }}