footer {
  .contact-details {
    text-align: right;
    background: url('../img/dot-wo.svg') right repeat-y;
  }
  h3 {
    color: color(white);
  }
}

@media (max-width:575px) {
  footer {
    .contact-details {
      text-align: left;
    }
  }
}