{{ partial "header" . }}
<div class="container">
    <div class="clearfix py4">
        <div class="col-9 mx-auto">
            {{ range .Data.Pages }}
            <section class="statement-block clearfix center">
                <div class="container">
                    <div class="clearfix py3">
                        <div class="sm-col sm-col-12">
                            <p class="o-date t3">{{ .Date.Format "January 2, 2006" }}</p>
                            <h2>
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </h2>
                            {{ if (isset  .Params "excerpt") }}
                                <p class="my3">{{ .Params.excerpt }}</p>
                            {{ else }}
                                <p class="my3">{{ .Summary | truncate 300 }}</p>
                            {{ end }}
                            <p class="mt2 mb0">
                                <a href="{{ .Permalink }}">Read more...</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            {{ end }}
        </div>
    </div>
</div>
{{ partial "footer" . }}