{{ partial "header" . }}

<div class="container c-article">
    <div class="clearfix py3">
        <div class="col-9 mx-auto">
            <section class="title center my4">
                <h1 class="o-title">{{ .Title }}</h1>
                <hr>
            </section>

            <p class="o-date t3 mb4 center">{{ dateFormat "Jan 2, 2006" .PublishDate }}</p>

            <figure class="mx0 my2">
                <img src="https://dotpreston.co.uk/content/3-blog/20180122-securing-your-wordpress-site/wordpress-security-preston.png" alt="" class="fit">
            </figure>

            {{ .Content }}

            <form id="dot-sign-up" method="post" action="/contact#dot-sign-up"> <div class="o-alert--danger error" style="display: none"></div> <input type="hidden" name="data[hp]" value="">
                <input name="data[name]" placeholder="NAME" id="dot-signup-name" class="block p1 my3" value="">
                <input name="data[email]" placeholder="EMAIL ADDRESS" id="dot-signup-email" class="block p1 my3" value="">
                <textarea name="data[message]" placeholder="MESSAGE" class="block p1 my3" id="contact-message" rows="1"></textarea> <div class="o-input--centerer"> <input name="data[opt-in]" type="checkbox" id="opt-in"><label for="opt-in">If you wish to sign up to our mailing list please tick the box</label>
                </div> <div class="center mt3"> <button class="btn" type="submit">Submit</button> </div>
            </form>

            <hr/>

            <div class="center m4">
                <h3 class="mb3">Find this interesting? Then share with people you know.</h3>
                <a href="https://twitter.com/intent/tweet?source=webclient&amp;text=Securing%20your%20WordPress%20site%20https%3A%2F%2Fdotpreston.co.uk%2Fblog%2Fsecuring-your-wordpress-site%20 @DotPrestonLancs #dotpreston" target="blank" title="Tweet this" class="m1">
                    <img src="/img/dot_tw.svg" class="u-grow">
                </a>
                <a href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fdotpreston.co.uk%2Fblog%2Fsecuring-your-wordpress-site" target="blank" title="Share on Facebook" class="m1">
                    <img src="/img/dot_fb.svg" class="u-grow">
                </a>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}