{{ partial "header" . }}

<div class="container c-article">
    <div class="clearfix py3">
        <div class="col-9 mx-auto">
            <section class="title center my4">
                <h1 class="o-title">{{ .Title }}</h1>
                <hr>
            </section>

            <p class="o-date t3 mb4 center">{{ .Date.Format "January 2, 2006" }}</p>

            {{ if isset .Params "cover_image" }}
            <figure class="mx0 my2">
                <img src="{{ .Params.cover_image }}" alt="{{ .Title }}" class="fit">
            </figure>
            {{ end }}

            {{ .Content }}

            {{ partial "contact_form" . }}

            <hr/>

            {{ partial "social_share" . }}

        </div>
    </div>
</div>

{{ partial "footer" . }}