{{ partial "header" . }}

<section class="c-lead-section jsLeadSection">
    <div class="container--abs-center jsLeadSectionContainer jsScrollComplete">
        <div class="clearfix">
            <div class="col col-3">
                <a href="/"><img src="/img/DOT_logo_RGB.svg" class="logo right pr3"></a>
            </div>
            <div class="col col-9">
                <div class="c-lead-section__title jsLeadSectionTitle pr2">
                    <h2 class="t1 mb2 pl3">{{ .Title }}</h2>
                    <a href="#home-content" class="c-lead-section__scroll jsLeadSectionScroll ml3 inline-block" data-scroll="home-content" ></a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="home-content">
    <section class="c-statement l-theme2 clearfix center">
        <div class="container">
            <div class="clearfix py4 px2">
                <div class="sm-col sm-col-12">

                   {{ .Params.intro | markdownify }}

                    <a href="/contact" class="btn--secondary">Get in touch</a>
                </div>
            </div>
        </div>
    </section>

    <section class="my4 jsMyWork">

        <div class="c-fixed-header xs-hide sm-hide jsFixedHeader">
            <div class="container">
                <div class="clearfix">
                    <div class="sm-col sm-col-3">
                        <a href="/projects">
                            <img src="/img/DOT_logo_RGB.svg" class="right pr3">
                        </a>
                    </div>
                    <div class="sm-col sm-col-9">
                        <div class="c-fixed-header__title">
                            <h2 class="t3 pl3">Recent Work</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ range where .Pages "Section" "projects" }}

        {{ partial "showcase" . }}

        {{ end }}

    </section>
</div>

{{ partial "footer" . }}