{{ partial "header" . }}

<div class="container">
    <div class="clearfix pt3">
        <div class="col-9 mx-auto">
            <section class="title center my4">
                <h1 class="o-title">{{ .Title }}</h1>
                <p>{{ .Params.intro }}</p>
                <hr>
            </section>

            {{ .Content }}

            <hr/>

        </div>
    </div>
</div>

<section class="my-work">
    <div class="container c-showcase">
        <div class="clearfix">
            <div class="col-9 pb4 mx-auto">
                <ul class="c-showcase__gallery jsProject list-reset mb0">
                    {{ range .Params.images }}
                    <li class="px1">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ .url }}" class="jsSiemaImage b-lazy fit o-img--rounded" alt="{{ .name }}" />
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>

<hr/>

{{ partial "skills" . }}

<hr/>

{{ partial "social_share" . }}

{{ partial "footer" . }}